---
layout: home
title: Enviromedsciences
---


    <!-- Hero Section -->
    <div class="position-relative">
      <!-- Hero Carousel - Main -->
      <div id="heroMain" class="js-slick-carousel u-slick"
           data-infinite="true"
           data-autoplay="true"
           data-adaptive-height="true"
           data-speed="5000"
           data-fade="true"
           data-nav-for="#heroNav">
        <!-- Slide #1 -->
        <div class="js-slide">
          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
            <!-- Apply your Parallax background image here -->
            <div class="divimage dzsparallaxer--target gradient-overlay-half-white-v1 bg-img-hero" style="height: 120%; background-image: url(../../assets/img/airsurfacepro.webp);"></div>

            <!-- Content -->
            <div class="d-lg-flex align-items-lg-center">
              <div class="container position-relative z-index-2 space-2-top space-3-bottom space-5--md">
                <div class="w-50 w-md-40">
                  <div class="mb-5">
                    <h1 class="display-4">Grow faster</h1>
                    <p class="lead">Grow faster and succeed with Space.</p>
                  </div>
                </div>
                <div class="w-50">
                  <a class="btn btn-primary btn-wide mb-2 mb-md-0 mr-md-2" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Get Started</a>
                  <a class="btn btn-purple btn-wide mb-2 mb-md-0" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Learn More</a>
                </div>
              </div>
            </div>
            <!-- End Content -->
          </div>
        </div>
        <!-- End Slide #1 -->

        <!-- Slide #2 -->
        <div class="js-slide">
          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
            <!-- Apply your Parallax background image here -->
            <div class="divimage dzsparallaxer--target gradient-overlay-half-white-v1 bg-img-hero" style="height: 120%; background-image: url(../../assets/img/1920x1080/img2.jpg);"></div>

            <!-- Content -->
            <div class="d-lg-flex align-items-lg-center">
              <div class="container position-relative z-index-2 space-2-top space-3-bottom space-5--md">
                <div class="w-50 w-md-40">
                  <div class="mb-5">
                    <h2 class="display-4">Make it beautiful</h2>
                    <p class="lead">Make it beautiful. Make your own business.</p>
                  </div>
                </div>
                <div class="w-50">
                  <a class="btn btn-primary btn-wide mb-2 mb-md-0 mr-md-2" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Get Started</a>
                  <a class="btn btn-purple btn-wide" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Learn More</a>
                </div>
              </div>
            </div>
            <!-- End Content -->
          </div>
        </div>
        <!-- End Slide #2 -->

        <!-- Slide #3 -->
        <div class="js-slide">
          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
            <!-- Apply your Parallax background image here -->
            <div class="divimage dzsparallaxer--target gradient-overlay-half-white-v1 bg-img-hero" style="height: 120%; background-image: url(../../assets/img/1920x1080/img3.jpg);"></div>

            <!-- Content -->
            <div class="d-lg-flex align-items-lg-center">
              <div class="container position-relative z-index-2 space-2-top space-3-bottom space-5--md">
                <div class="w-50 w-md-40">
                  <div class="mb-5">
                    <h2 class="display-4">Sell business</h2>
                    <p class="lead">Sell your business with Space.</p>
                  </div>
                </div>
                <div class="w-50">
                  <a class="btn btn-primary btn-wide mb-2 mb-md-0 mr-md-2" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Get Started</a>
                  <a class="btn btn-purple btn-wide" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Learn More</a>
                </div>
              </div>
            </div>
            <!-- End Content -->
          </div>
        </div>
        <!-- End Slide #3 -->
      </div>
      <!-- Hero Carousel - Main -->

      <!-- Hero Carousel - Nav -->
      <div class="container position-absolute-bottom-0">
        <div id="heroNav" class="js-slick-carousel u-slick u-slick--cursor-pointer u-slick--pagination-modern u-slick--transform-off-lg mb-3"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-center-mode="true"
             data-slides-show="3"
             data-is-thumbs="true"
             data-focus-on-select="true"
             data-nav-for="#heroMain"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 554,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <!-- Slide #1 -->
          <div class="js-slide u-slick--pagination-modern__item">
            <div class="media align-items-center bg-white border rounded">
              <div class="media-body px-3">
                <span class="u-slick--pagination-modern__item-text">Grow faster</span>
              </div>
              <img class="u-slick--pagination-modern__item-img rounded-right" src="../../assets/img/200x140/img1.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Slide #1 -->

          <!-- Slide #2 -->
          <div class="js-slide u-slick--pagination-modern__item">
            <div class="media align-items-center bg-white border rounded">
              <div class="media-body px-3">
                <span class="u-slick--pagination-modern__item-text">Make it beautiful</span>
              </div>
              <img class="u-slick--pagination-modern__item-img rounded-right" src="../../assets/img/200x140/img2.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Slide #2 -->

          <!-- Slide #3 -->
          <div class="js-slide u-slick--pagination-modern__item">
            <div class="media align-items-center bg-white border rounded">
              <div class="media-body px-3">
                <span class="u-slick--pagination-modern__item-text">Sell business</span>
              </div>
              <img class="u-slick--pagination-modern__item-img rounded-right" src="../../assets/img/200x140/img3.jpg" alt="Image Description">
            </div>
          </div>
          <!-- End Slide #3 -->
        </div>
      </div>
      <!-- Hero Carousel - Nav -->
    </div>
    <!-- End Hero Section -->

    <!-- About Section -->
    <div class="container space-2 space-3--lg">
      <div class="row no-gutters">
        <div class="col-lg-5">
          <!-- Info -->
          <div class="bg-dark text-center space-2 space-3--lg px-7">
            <div class="mb-5">
              <span class="d-block text-purple font-weight-medium text-uppercase">About us</span>
              <h2 class="h1 text-white font-weight-medium text-capitalize">Who are we?</h2>
              Addressing ENVIRONMENTAL TOXICITY should be the first thing in ANY anti-aging protocol.
              <p class="text-white-70">DR. RONALD KLATZ MD, DO. FOUNDER AMERICAN ACADEMY OF ANTI-AGING MEDICINE [A4M] (LEFT) WITH CARL THOMPSON, ENVIROMED CEO (RIGHT)</p>
            </div>
            {% comment %}  
            <a class="btn btn-wide btn-light font-size-14 font-weight-medium rounded-0 text-uppercase" href="#">Learn More</a>
            {% endcomment %}
          </div>
          <!-- End Info -->
        </div>
        <div class="col-lg-7 d-none d-lg-inline-block bg-img-hero" style="background-image: url(../../assets/img/700x700/img6.jpg);"></div>

        <div class="col-lg-7 d-lg-none">
          <img class="img-fluid" src="../../assets/img/700x700/img6.jpg" alt="Image Description">
        </div>
      </div>
    </div>
    <!-- End About Section -->

    {% comment %}  
    <!-- Icon Blocks Section -->
    <div class="container space-2 space-3--lg">
      <div class="row">
        <div class="col-md-4 mb-7 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <img class="max-width-14 mb-2" src="https://htmlstream.com/preview/space-v1.6.1/assets/svg/components/trophy-purple-icon.svg" alt="Image Description">
            <h3 class="h4">Professional Design</h3>
            <p class="mb-0">Achieve virtually any look and layout from within the one template.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-7 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <img class="max-width-14 mb-2" src="https://htmlstream.com/preview/space-v1.6.1/assets/svg/components/idea-primary-icon.svg" alt="Image Description">
            <h3 class="h4">Super-Light</h3>
            <p class="mb-0">Manage document assembly with sophisticated yet super-light templates.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <img class="max-width-14 mb-2" src="https://htmlstream.com/preview/space-v1.6.1/assets/svg/components/rocket-red-icon.svg" alt="Image Description">
            <h3 class="h4">Unlimited Power</h3>
            <p class="mb-0">Find what you need in one template and combine features at will.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Icon Blocks Section -->

    <!-- Divider -->
    <div class="w-50 w-lg-35 mx-auto">
      <hr class="my-0">
    </div>
    <!-- End Divider -->

    <!-- Video Section -->
    <div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class="u-label u-label--sm u-label--purple mb-3">What is Space?</span>
        <h2 class="h3">Build for everyone and provides enjoyable usage</h2>
        <p>Experience a level of our quality in both design &amp; customization works.</p>
      </div>
      <!-- End Title -->

      <div class="row justify-content-sm-center text-center">
        <div class="col-lg-9 col-xl-8">
          <!-- Video Block -->
          <div id="youTubeVideoPlayer" class="u-video-player mb-5">
            <!-- Cover Image -->
            <img class="img-fluid u-video-player__preview" src="../../assets/img/900x450/img1.jpg" alt="Image">
            <!-- End Cover Image -->

            <!-- Play Button -->
            <a class="js-inline-video-player u-video-player__btn u-video-player__centered" href="javascript:;"
               data-parent="youTubeVideoPlayer"
               data-target="youTubeVideoIframe"
               data-classes="u-video-player__played">
              <span class="u-video-player__icon">
                <i class="fa fa-play u-video-player__icon-inner"></i>
              </span>
            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe id="youTubeVideoIframe" class="embed-responsive-item" src="https://www.youtube.com/embed/0qisGSwZym4"></iframe>
            </div>
            <!-- End Video Iframe -->
          </div>
          <!-- End Video Block -->

          <p>Have a question? <a class="font-weight-medium" href="mailto:hello@example.com">Contact Us.</a></p>
        </div>
      </div>
    </div>
    <!-- End Video Section -->
    {% endcomment %}

    <!-- About Section -->
    <div class="bg-gray-100">
      <div class="container space-2 space-3--lg">
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-5 mb-9 mb-lg-0">
            <!-- Title -->
            <div class="mb-5">
              <span class="u-label u-label--sm u-label--purple mb-3">About Us</span>
              <h2 class="h3">We always welcome keen to learn folks to our team</h2>
              <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
              <p>Now that your brand is all dressed up and ready to party, it's time to release it to the world. By the way, let's celebrate already.</p>
            </div>
            <!-- End Title -->

            <a class="btn btn-sm btn-primary" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Learn More <i class="fa fa-angle-right ml-2"></i></a>
          </div>

          <div class="col-lg-6">
            <!-- Cubeportfolio -->
            <div class="cbp"
                 data-layout="mosaic"
                 data-animation="quicksand"
                 data-x-gap="15"
                 data-y-gap="15"
                 data-load-more-selector="#cubeLoadMore"
                 data-load-more-action="auto"
                 data-load-items-amount="4"
                 data-media-queries='[
                {"width": 1500, "cols": 4},
                {"width": 1100, "cols": 4},
                {"width": 800, "cols": 3},
                {"width": 480, "cols": 2},
                {"width": 400, "cols": 2}
            ]'>
              <!-- Item -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <img src="../../assets/img/380x227/img1.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <img src="../../assets/img/380x360/img1.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <img src="../../assets/img/380x360/img2.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <img src="../../assets/img/380x227/img2.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Item -->
            </div>
            <!-- End Cubeportfolio -->
          </div>
        </div>
      </div>
    </div>
    <!-- End About Section -->

    <!-- Divider -->
    <div class="w-50 w-lg-35 mx-auto">
      <hr class="my-0">
    </div>
    <!-- End Divider -->

    <!-- Clients Section -->
    <div class="container space-2 space-3-bottom--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <h3 class="h4">Trusted by the world's best companies</h3>
      </div>
      <!-- End Title -->

      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick"
           data-autoplay="true"
           data-speed="5000"
           data-infinite="true"
           data-slides-show="6"
           data-responsive='[{
             "breakpoint": 1200,
             "settings": {
               "slidesToShow": 4
             }
           }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 4
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 576,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 480,
             "settings": {
               "slidesToShow": 2
             }
           }]'>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/amazon.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/google.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/paypal.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/slack.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/samsung.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/airbnb.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/lenovo.png" alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="u-clients" src="../../assets/img/clients/spotify.png" alt="Image Description">
        </div>
      </div>
      <!-- End Slick Carousel -->
    </div>
    <!-- End Clients Section -->

    {% comment %}  
    <!-- Blog Grid Section -->
    <div class="bg-gray-100">
      <div class="container space-2 space-3--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
          <span class="u-label u-label--sm u-label--purple mb-3">News</span>
          <h2 class="h3">Read our news &amp; blogs</h2>
          <p>Our duty towards you is to share our experience we're reaching in our work path with you.</p>
        </div>
        <!-- End Title -->

        <!-- News Blog -->
        <div class="card-deck d-block d-lg-flex">
          <!-- Blog Grid -->
          <article class="card mb-4 mb-lg-0">
            <div class="card-body p-5">
              <small class="d-block text-muted mb-2">May 15, 2018</small>
              <h3 class="h5">
                <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">InVision design forward fund</a>
              </h3>
              <p class="mb-0">Clark Valberg is the founder and CEO of InVision.</p>
            </div>
            <div class="card-footer py-4 px-5">
              <div class="media align-items-center">
                <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                <div class="media-body">
                  <h4 class="d-inline-block mb-0">
                    <a class="d-block font-size-13" href="#">Andrea Gard</a>
                  </h4>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Grid -->

          <!-- Blog Grid -->
          <article class="card mb-4 mb-lg-0">
            <div class="card-body p-5">
              <small class="d-block text-muted mb-2">May 22, 2018</small>
              <h3 class="h5">
                <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">Announcing a plan for small teams</a>
              </h3>
              <p class="mb-0">We've always believed that by providing a space</p>
            </div>
            <div class="card-footer py-4 px-5">
              <div class="media align-items-center">
                <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
                <div class="media-body">
                  <h4 class="d-inline-block mb-0">
                    <a class="d-block font-size-13" href="#">James Austin</a>
                  </h4>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Grid -->

          <!-- Blog Grid -->
          <article class="card mb-4 mb-lg-0">
            <div class="card-body p-5">
              <small class="d-block text-muted mb-2">May 30, 2018</small>
              <h3 class="h5">
                <a href="https://htmlstream.com/preview/space-v1.6.1/html/blog/single-article-classic.html">Design principles</a>
              </h3>
              <p class="mb-0">The biggest collections of design principles on the internet</p>
            </div>
            <div class="card-footer py-4 px-5">
              <div class="media align-items-center">
                <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                <div class="media-body">
                  <h4 class="d-inline-block mb-0">
                    <a class="d-block font-size-13" href="#">Charlotte Moore</a>
                  </h4>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Grid -->
        </div>
        <!-- End News Blog -->
      </div>
    </div>
    <!-- End Blog Grid Section -->
    {% endcomment %}

    {% include cta.html %}