<!-- CTA Section -->
<div class="gradient-overlay-half-dark-v4 bg-img-hero" style="background-image: url(../../assets/img/1920x400/img1.jpg);">
    <div class="container text-center text-lg-left space-2">
    <div class="row align-items-lg-center">
        <div class="col-lg-9 mb-5 mb-lg-0">
        <h2 class="h1 text-primary font-weight-light mb-1">Join the <span class="font-weight-medium">Space</span> community</h2>
        <p class="lead text-light mb-0">Kick the tires on the best-in-class template with a free Space account.</p>
        </div>

        <div class="col-lg-3 text-lg-right">
        <a class="btn btn-light btn-wide" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/">Create Account</a>
        </div>
    </div>
    </div>
</div>
<!-- End CTA Section -->